{% load util_tags %}
<input type="text" class="hidden" name="previous-color" value="{{ selected_option.uuid }}" />

<div>
  <p class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Màu sắc</p>
  <ul class="flex flex-wrap w-full gap-2">
    {% for option in options %}
      <li>
        {# prettier-ignore #}
        <c-radio-input 
          :ischecked="selected_option"
          :instance="option"
          id="{{ option.uuid }}" 
          label="{{ option.color }}" 
          name="color" 
          value="{{ option.uuid }}" 
          required/>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <p class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Kích cỡ</p>

  <ul class="flex flex-wrap w-full gap-2">
    {% for size in all_sizes %}
      <li>
        {# prettier-ignore #}
        <c-radio-input 
          :ischecked="selected_size"
          :isdisabled="selected_option_sizes"
          :instance="size"
          id="{{ size.uuid }}" 
          label="{{ size.size }}" 
          name="size" 
          value="{{ size.uuid }}" 
          required />
      </li>
    {% endfor %}
  </ul>
</div>

<div id="product-price" class="flex items-end gap-2 text-center" hx-swap-oob="true">
  <div class="flex items-center gap-2">
    <h4 class="text-xl font-bold sm:text-2xl text-primary-500">{{ selected_size.price|default:0|int_comma }}đ</h4>
  </div>
  <div class="flex items-center gap-2">
    {% if selected_size_discount %}
      <p class="font-medium text-gray-500 line-through">{{ selected_size.old_price|default:0|int_comma }}đ</p>
      <p class="font-semibold text-xs py-0.5 px-1.5 rounded-lg bg-error h-fit">-{{ selected_size_discount }}%</p>
    {% endif %}
  </div>
</div>

<input hx-swap-oob="true" id="selected-option-size" type="text" class="hidden" name="selected-option-size" value="{{ selected_size.uuid }}" />

{# prettier-ignore #}
<div 
  id="quantity-div" 
  hx-swap-oob="true" 
  data-input-counter-max="{{ selected_size.quantity }}" 
  data-input-id="quantity-input-{{ selected_size.uuid }}" 
  data-increment-id="increment-button-{{ selected_size.uuid }}" 
  data-decrement-id="decrement-button-{{ selected_size.uuid }}">

  <label for="quantity-input-{{ selected_size.uuid }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chọn số lượng</label>
  <div class="relative flex items-center max-w-[50%]">
    {# prettier-ignore #}
    <button 
      type="button" 
      id="decrement-button-{{ selected_size.uuid }}"  
      class="px-2 py-1.5 h-[34px] bg-gray-100 border border-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 rounded-s-lg focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
      <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
      </svg>
    </button>

    {# prettier-ignore #}
    <input 
      id="quantity-input-{{ selected_size.uuid }}" 
      type="text" 
      name="quantity" 
      value="1" 
      required 
      class="bg-gray-50 border-x-0 focus:border-gray-300 focus:outline-none focus:ring-0  border-gray-300 text-center text-gray-900 text-sm w-full py-1.5 " 
    />

    {# prettier-ignore #}
    <button 
      type="button" 
      id="increment-button-{{ selected_size.uuid }}" 
      class="px-2 py-1.5 h-[34px] bg-gray-100 border border-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 rounded-e-lg focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
      <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
      </svg>
    </button>
  </div>

  <script>
    ;(function () {
      var $parent = document.currentScript.parentElement
      var inputID = $parent.getAttribute('data-input-id')
      var incrementID = $parent.getAttribute('data-increment-id')
      var decrementID = $parent.getAttribute('data-decrement-id')
      var maxValue = $parent.getAttribute('data-input-counter-max')
      var options = {
        minValue: 1,
        maxValue
      }
      initCustomInputCounter(inputID, incrementID, decrementID, options)
    })()
  </script>
</div>

<div id="quantity-label" hx-swap-oob="true" class="flex justify-between text-sm font-medium text-gray-500 dark:text-white">
  <p>
    Còn <span class="font-bold text-gray-800">{{ selected_size.quantity|stringformat:'02d' }}</span> sản phẩm <span class="hidden lg:inline">trong kho</span>
  </p>
  <p>
    Đã bán <span class="font-bold text-gray-800">{{ total_solds }}</span> sản phẩm
  </p>
</div>

{% if change_color %}
  <div id="product-images-carousel" class="relative w-full dark" data-carousel="static" hx-swap-oob="true">
    <div class="relative z-0 h-56 overflow-hidden sm:h-96">
      {% for option_image in selected_option_images %}
        {# prettier-ignore #}
        <div class="hidden duration-700 ease-in-out" data-carousel-item="{% if forloop.counter0 == 0 %}active{% endif %}">
        <img src="{{ option_image.image.url }}" class="absolute block max-h-full -translate-x-1/2 -translate-y-1/2 rounded-lg top-1/2 left-1/2" alt="..." />
      </div>
      {% endfor %}
    </div>
    <div class="absolute z-[5] flex space-x-3 -translate-x-1/2 rtl:space-x-reverse bottom-5 left-1/2">
      {% for option_image in selected_option_images %}
        {# prettier-ignore #}
        <button 
          type="button" 
          class="w-3 h-3 rounded-full" 
          aria-current="false" 
          aria-label="Slide {{ forloop.counter0 }}" 
          data-carousel-slide-to="{{ forloop.counter0 }}">
        </button>
      {% endfor %}
    </div>

    <button type="button" class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>

  <script>
    initCarousels()
  </script>
{% endif %}
