{% load util_tags %}

<input type="text" class="hidden" name="previous-color" value="{{ selected_color }}" />

<div>
  <p class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Màu sắc</p>
  <ul class="flex flex-wrap w-full gap-2">
    {% for color in colors %}
      <li>
        {# prettier-ignore #}
        <c-radio-input 
          :ischecked="selected_color"
          :isdisabled="available_colors"
          prefixid="color"
          id="{{ color.id }}" 
          label="{{ color }}" 
          name="color" 
          value="{{ color.id }}" 
          required/>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <p class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Kích cỡ</p>

  <ul class="flex flex-wrap w-full gap-2">
    {% for size in sizes %}
      <li>
        {# prettier-ignore #}
        <c-radio-input 
          :ischecked="selected_size"
          :isdisabled="available_sizes"
          prefixid="size"
          id="{{ size.id }}" 
          label="{{ size }}" 
          name="size" 
          value="{{ size.id }}" 
          required />
      </li>
    {% endfor %}
  </ul>
</div>

<div id="product-price" class="flex items-end gap-2" hx-swap-oob="true">
  <h4 class="text-xl font-bold sm:text-2xl text-primary-500">{{ selected_options.0.price|default:'0'|int_comma }}đ</h4>
  <div class="flex items-center gap-2">
    {% if discount %}
      <p class="font-medium text-gray-500 line-through">{{ selected_options.0.old_price|default:'0'|int_comma }}đ</p>
      <p class="font-semibold text-xs py-0.5 px-1.5 rounded-lg bg-error h-fit">-{{ discount }}%</p>
    {% endif %}
  </div>
</div>

<input hx-swap-oob="true" id="selected-option" type="text" class="hidden" name="selected-option" value="{{ selected_options.0.uuid }}" />

{% if change_color %}
  <div id="product-images-carousel" hx-swap-oob="true" class="relative w-full dark" data-carousel="static">
    <div class="relative z-0 h-56 overflow-hidden sm:h-96">
      {% for option_image in option_images %}
        {# prettier-ignore #}
        <div class="hidden duration-700 ease-in-out" data-carousel-item="{% if forloop.counter0 == 0 %}active{% endif %}">
        <img src="{{ option_image.image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 rounded-lg top-1/2 left-1/2" alt="..." />
      </div>
      {% endfor %}
    </div>
    <div class="absolute z-[5] flex space-x-3 -translate-x-1/2 rtl:space-x-reverse bottom-5 left-1/2">
      {% for option_image in option_images %}
        {# prettier-ignore #}
        <button 
          type="button" 
          class="w-3 h-3 rounded-full" 
          aria-current="false" 
          aria-label="Slide {{ forloop.counter0 }}" 
          data-carousel-slide-to="{{ forloop.counter0 }}">
        </button>
      {% endfor %}
    </div>

    <button type="button" class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>

  <script>
    initCarousels()
  </script>
{% endif %}
