{% load crispy_forms_tags %}

{% if type == 'update' %}
  {% crispy form_update %}
{% endif %}

{# prettier-ignore #}
<div id="update-address-div" class="space-y-4" {% if not type == 'add' %}hx-swap-oob="true"{% endif %}>
    {% crispy form_add %}
  
    {% if user_address %}
      <div class="space-y-2">
        {% for address in user_address %}
          <div class="flex items-center justify-between">
            <span class="w-full truncate">{{ address.address }}</span>
            <button hx-on:click="openModal('update-address-modal');" hx-get="{% url 'htmx_update_address' address.id %}" hx-target="#update-address-modal-body" hx-swap="outerHTML" type="button" class="p-1 border border-gray-300 rounded-md hover:bg-gray-100 text-primary-600">
              <svg class="size-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28" />
              </svg>
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
