{% load static %}

<div class="h-[68px]">
  <nav class="fixed top-0 z-10 w-full p-4 border-gray-200 shadow-sm bg-white/80 backdrop-blur dark:bg-gray-800">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto">
      <div class="flex items-center w-1/5 gap-2">
        <!-- drawer init and toggle -->
        <button data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="size-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
        </button>

        <a href="/" class="flex items-center text-xl font-extrabold">
          {% comment %} <img src="{% static 'imgs/logo.svg' %}" class="hidden mr-3 h-9 lg:block" alt="Logo" /> {% endcomment %}
          <span class="self-center text-transparent whitespace-nowrap bg-gradient-to-r from-primary-500 to-primary-600 bg-clip-text">{{ config_settings.web_name }}</span>
          <span class="self-center text-gray-800 whitespace-nowrap ms-2 dark:text-white">Shoes</span>
        </a>
      </div>

      <div class="items-center justify-between hidden w-full lg:flex lg:w-auto">
        <ul class="flex mt-0 space-x-8 font-medium">
          {% include 'partials/nav_links.html' %}
        </ul>
      </div>

      <div class="flex items-center justify-end gap-2 sm:w-1/5">
        {% if not user.is_authenticated %}
          <a href="{% url 'sign_in' %}" class="px-4 py-2 mr-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Đăng nhập</a>
        {% else %}
          {# prettier-ignore #}
          <c-button 
            style="light" 
            role="link"
            href="{% url 'shopping_cart' %}"
            overideclass="relative !px-2 !py-2 !text-gray-900 hover:!text-gray-900 border-0 !bg-transparent hover:!bg-gray-200">
            <c-slot name="start_slot">
              <div class="flex items-center justify-center size-5">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
              </div>
            </c-slot>
            <div id="cart-item-indicator" class="absolute inline-flex items-center justify-center text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full size-5 -top-1 -end-1 dark:border-gray-900">{{user.carts.items.all.count|default:0}}</div>
          </c-button>
          {# prettier-ignore #}
          <button 
            data-dropdown-toggle="dropdownAvatarName" 
            data-dropdown-offset-distance="-40" 
            data-dropdown-offset-skidding="135" 
            data-dropdown-placement="left" 
            class="flex overflow-hidden text-sm font-medium text-gray-900 rounded-full size-10 ring-1 ring-primary-200 hover:text-blue-600 dark:hover:text-blue-500 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
            <!-- Dropdown toggle -->
            <img id="user-avatar-header" class="w-full rounded-full" src="{{ user.avatar.url }}" alt="user-avatar" />
          </button>

          <!-- User Menu -->
          <div id="dropdownAvatarName" class="z-10 hidden bg-white border border-b-0 divide-y divide-gray-100 rounded-lg shadow w-fit min-w-40 dark:bg-gray-700 dark:divide-gray-600">
            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
              <div id="user-info-dropdown" class="font-medium">{{ user.get_full_name }}</div>
              <div id="user-email-dropdown" class="truncate">{{ user.mask_email }}</div>
            </div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
              <li>
                <a href="{% url 'profile_manager' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Quản lý tài khoản</a>
              </li>
              <li>
                <div data-modal-target="order-search" data-modal-toggle="order-search" class="block w-full px-4 py-2 hover:cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tra cứu đơn hàng</div>
              </li>
            </ul>
            <div class="py-2">
              <a href="{% url 'sign_out' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Đăng xuất</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <!-- drawer contents -->
  <div id="drawer-navigation" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
    <div class="flex flex-col justify-between h-full">
      <div>
        <a href="/" class="flex items-center text-xl font-extrabold">
          {% comment %} <img src="{% static 'imgs/logo.svg' %}" class="h-6 mr-3" alt="Logo" /> {% endcomment %}
          <span class="self-center text-transparent whitespace-nowrap bg-gradient-to-r from-primary-500 to-primary-600 bg-clip-text">{{ config_settings.web_name }}</span>
          <span class="self-center text-gray-800 whitespace-nowrap ms-2 dark:text-white">Shoes</span>
        </a>
        <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close menu</span>
        </button>
        <div class="mt-4">
          <ul class="font-medium">
            {% include 'partials/nav_links.html' %}
          </ul>
        </div>
      </div>
      {% if not user.is_authenticated %}
        <div class="grid grid-cols-2 gap-4">
          <a href="{% url 'sign_up' %}" class="px-4 py-1.5 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Đăng ký</a>
          <a href="{% url 'sign_in' %}" class="px-4 py-1.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Đăng nhập</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
