{% for link in nav_links %}
  {% if request.get_full_path == link.url %}
    <li>
      <a href="{{ link.url }}" class="block py-2 pl-3 pr-4 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" aria-current="page">{{ link.label }}</a>
    </li>
  {% else %}
    <li>
      <a href="{{ link.url }}" class="block py-2 pl-3 pr-4 text-gray-700 border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">{{ link.label }}</a>
    </li>
  {% endif %}
{% endfor %}
