{% extends 'core/base.html' %}
{% load static util_tags breadcrumb_tags %}

{% block hscript %}
  <script src="{% static 'js/input-counter.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="py-8 antialiased bg-gray-50 dark:bg-gray-900 md:py-12">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <div class="items-end justify-between mb-4 space-y-4 sm:flex sm:space-y-0 md:mb-8">
        <div>
          {% show_breadcrumbs breadcrumbs last_crum %}
          <h2 class="mt-3 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Danh sách sản phảm</h2>
        </div>
      </div>

      <section id="cart-items" class="">
        <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
          <div class="flex-none w-full mx-auto lg:max-w-2xl xl:max-w-4xl">
            <ul id="selected-item-uuids" class="hidden"></ul>
            <div class="space-y-6">
              {% for data in items_data %}
                <c-lineitem-card :item="data"></c-lineitem-card>
              {% endfor %}
            </div>
          </div>

          <div id="total-price-div" class="flex-1 max-w-4xl mx-auto mt-6 space-y-6 lg:mt-0 lg:w-full">
            <div class="p-4 space-y-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
              <p class="text-xl font-semibold text-gray-900 dark:text-white">Giỏ hàng</p>

              <div class="space-y-4">
                <div class="space-y-2">
                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tổng tiền</dt>
                    <dd class="text-base font-medium text-gray-900 dark:text-white">0đ</dd>
                  </dl>

                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Thuế (10%)</dt>
                    <dd class="text-base font-medium text-gray-900 dark:text-white">0đ</dd>
                  </dl>

                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tiết kiệm</dt>
                    <dd class="text-base font-medium text-green-600">-0đ</dd>
                  </dl>
                </div>

                <dl class="flex items-center justify-between gap-4 pt-2 border-t border-gray-200 dark:border-gray-700">
                  <dt class="text-base font-bold text-gray-900 dark:text-white">Tổng thành tiền</dt>
                  <dd class="text-base font-bold text-gray-900 dark:text-white">0đ</dd>
                </dl>
              </div>

              <form action="{% url 'ordering' %}" method="get">
                <ul id="selected-item-uuids-order" class="hidden"></ul>

                {# prettier-ignore #}
                <button 
                  disabled
                  type="submit" 
                  class="disabled:bg-primary-700/50 disabled:cursor-not-allowed flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                  Tiến hành thanh toán
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
