{% load coton_helper_tags %}

<c-vars style="primary" role="button" type="button" class />

{% if role == 'button' %}
  {# prettier-ignore #}
  <button 
    {{ attrs }}
    type="{{ type }}"
    class="{{ class|default:'text-sm font-medium rounded-lg px-4 py-1.5 focus:ring-4 focus:outline-none' }} {{ style|get_button_classes }} {{ overideclass }}">
    {{ start_slot }}
    {{ slot }}
    {{ end_slot }}
   </button>
{% elif role == 'link' %}
  {# prettier-ignore #}
  <a 
    href="{{ href }}"
    class="{{ class|default:'text-sm font-medium rounded-lg px-4 py-1.5 focus:ring-4 focus:outline-none' }} {{ style|get_button_classes }} {{ overideclass }}">
    {{ start_slot }}
    {{ slot }}
    {{ end_slot }}
  </a>
{% endif %}
