{% load util_tags %}

<div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800" {{ attrs }}>
  <div class="w-full h-56">
    {# prettier-ignore #}
    <a href="{% url 'product' shoe.uuid %}" class="flex items-center justify-center h-full">
      {% comment %} <img class="max-h-full " src="{{ shoe.options.all.0.images.all.0.image.url }}" alt="{{ shoe.name }}" /> {% endcomment %}
      <img class="max-h-full " src="{{ MEDIA_URL }}{{ shoe.first_image_path }}" alt="{{ shoe.name }}" />
    </a>
  </div>
  <div class="pt-6">
    <div class="flex items-center justify-between gap-4 mb-4">
      {% if shoe.max_discount %}
        <span class="rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">Giảm giá đến {{ shoe.max_discount }}%</span>
      {% else %}
        <span class="h-5"></span>
      {% endif %}
    </div>

    <a href="{% url 'product' shoe.uuid %}" class="flex min-h-[45px] max-h-[45px] overflow-y-hidden text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">{{ shoe.name }}</a>

    <div class="flex items-center gap-2 mt-2">
      <div class="flex items-center">
        {% for i in review_range %}
          {% if i <= shoe.avg_review %}
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
            </svg>
          {% else %}
            <svg class="w-4 h-4 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"></path>
            </svg>
          {% endif %}
        {% endfor %}
      </div>

      <p class="text-sm font-medium text-gray-900 dark:text-white">{{ shoe.avg_review|default:0|stringformat:'.2f' }}</p>
      <p class="text-sm font-medium text-gray-500 dark:text-gray-400">({{ shoe.total_reviews|default:0 }})</p>
    </div>

    <ul class="flex items-center gap-2 mt-2 overflow-x-hidden whitespace-nowrap">
      {% for tag in shoe.tags.all %}
        <li class="flex items-center gap-2">
          <p class="text-sm font-medium text-gray-500 border rounded-lg py-0.5 px-1 border-gray-200 dark:text-gray-400">{{ tag }}</p>
        </li>
      {% endfor %}
    </ul>

    <div class="flex items-center justify-between gap-4 mt-4">
      <div class="">
        <p class="text-2xl font-extrabold leading-tight text-primary-500 dark:text-white">{{ shoe.min_price|default:0|int_comma }}đ</p>
      </div>
    </div>
  </div>
</div>
